* {
  box-sizing: border-box;
}
#time-up-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 50%;
  background-color: white;

  font-size: 3rem;
  font-weight: bold;

  border: 5px solid black;
  border-radius: 1em;
  padding: 1em;
}

/* quesiton display */
.hide {
  display: none;
}

fieldset {
  margin: 2em 0;
  width: 100%;
}
fieldset div {
  display: flexbox;
  flex-direction: column;
}
legend {
  font-weight: bold;
}

/* controls */
#quiz-controls {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
#quiz-controls #next {
}
/* #quiz-controls #submit { */
/* position: absolute;
  left: 50%;
} */
