* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#time-up-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 50%;
  background-color: white;

  font-size: 3rem;
  font-weight: bold;

  border: 5px solid black;
  border-radius: 1em;
  padding: 1em;
}

/* quesiton display */

.hide {
  display: none;
}

fieldset {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* white space */
  margin-top: 2em;
  /* width: 100%; */
  height: 50%;

  border: 0;
}
fieldset input {
  /* white space */
  margin-bottom: 20px;
  /* visual hierachy */

  /* sizing */
  /* display: inline-block; */
  /* positioning */

  /* styling */
}

legend {
  /* visual hierachy */
  font-size: 18px;
  /* white space */
  line-height: 1.5em;
  margin-bottom: 10px;
  /* positioning */
}
legend span:first-of-type {
  border: 3px solid white;
  border-radius: 20%;
  padding: 5px;
  margin-right: 1rem;
}

/* question panel */
#question-panel {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 7px;
  border: 5px solid white;
  border-radius: 10px;
  padding: 7px 10px;

  max-width: 500px;
  margin: auto;
}
#question-panel button {
  border: none;
  height: 1.5rem;
  border-radius: 50%;
  background-color: brown;
  color: white;
}
#question-panel button:hover,
#question-panel button:focus {
  background-color: rgb(79, 19, 19);
}

/* controls */

#quiz-controls {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}
#quiz-controls button {
  border: none;
  background-color: brown;
  height: 2rem;
  width: 30%;
  min-width: fit-content;

  border-radius: 50%;
  color: white;
}
#quiz-controls button:hover,
#quiz-controls button:focus {
  background-color: rgb(79, 19, 19);
}
#quiz-controls button:active {
  border: 3px solid white;
  background-color: rgb(35, 9, 9);
}
