* {
  box-sizing: border-box;
}
body {
  background-color: #2b3337;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
}
header {
  /* size according to body  */
  /* for adjusting header content */
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid;
  padding: 0.3em;

  text-align: center;
  position: relative;
}
header img {
  max-width: 64px;
  max-height: 64px;

  background-color: black;
  padding: 5px;
  position: absolute;
  left: 10px;
  top: 0.4em;
}
header h1 {
  font-weight: 500;
}

main {
  /* size according to body layout */
  height: 80%;
  width: 80%;
  /* positioning */
  margin: auto;
  text-align: center;
  /* styling */
}
main p {
  margin-top: 2em;
}
#caterogy-list-wrapper {
  margin: auto;
  height: 50%;
}
#category-list {
  /* size according to main */
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  /*ui principle: white space */
  padding: 20px;
  /* styling */
  list-style-type: none;

  /* styling */

  font-weight: bold;
}
#category-list li {
  width: 80%;
  max-width: 400px;
  margin: auto;
}
.category-link {
  /* white space */
  padding: 10px;
  /* increase trigger area */
  display: inline-block;
  height: 100%;
  width: 100%;
  /* styling */
  border-radius: 20px;
  color: black;
  text-decoration: none;
  background-color: rgb(222, 155, 155);
}
.category-link:hover,
.category-link:focus {
  background-color: rgb(176, 124, 124);
}
.category-link:active {
  background-color: rgb(113, 78, 78);
}

@media screen and (width>=550px) {
}
/*
    Your fixes below!
    
    Use these colors codes: 
    (1) #1C2022 black
    (2) #9D9D9D  light grey
    (3) #2B3337 dark grey
    (4) #FF01FF purple
    (5) white
*/
